main {
    .divide {
        > div {
            width: 75%;

            table#shoppinglist-items {
                border-collapse: collapse;
                width: 100%;

                * {
                    vertical-align: middle;
                }

                tr {
                    width: 100%;
                }

                thead {
                    tr {
                        th {
                            font-size: 1.5rem;

                            &.article-img-name {
                                width: 50%;
                            }

                            &.price-unit, &.price-total {
                                width: 10rem;
                            }

                            &.amount {
                                width: calc(50% - 14rem);
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            border-bottom: 1px solid black;
                            padding: 1.2rem 0;

                            &.article-img {
                                width: 10%;
                            }

                            &.name {
                                width: 40%;

                                span {
                                    width: 100%;
                                    height: 100%;
                                    max-width: 27vw;
                                    display: block;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                }
                            }

                            &.amount {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }

        aside {
            width: 25%;
            text-align: center;

            div.price-total {
                font-size: 2rem;
                margin-bottom: 2rem;

                span.price {
                    font-weight: bold;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    main {
        .divide {
            > div {
                width: 80%;

                table#shoppinglist-items {
                    thead tr th {
                        &.article-img-name {
                            width: 40%;
                        }
                    }

                    tbody tr td {
                        &.name {
                            width: 30%;
                        }

                        &.amount {
                            width: calc(60% - 14rem)
                        }
                    }
                }
            }

            aside {
                width: 20%;
            }
        }
    }
}

@media (max-width: 1050px) {
    main {
        .divide {
            aside, > div {
                display: block;
                width: 100%;
            }

            > div {
                table#shoppinglist-items {
                    thead tr th {
                        &.article-img-name {
                            width: 50%;
                        }
                    }

                    tbody tr td {
                        &.name {
                            width: 30%;
                        }

                        &.amount {
                            width: calc(50% - 14rem)
                        }
                    }
                }
            }

            aside {
                margin-top: 6rem;
            }
        }
    }
}

@media (max-width: 900px) {
    main {
        .divide {
            > div {
                table#shoppinglist-items {
                    a {
                        height: 30px;
                        padding: 4.5px;

                        img {
                            width: 100%;
                            max-height: 100%;
                        }
                    }

                    button {
                        font-size: 1rem;
                    }

                    thead tr th {
                        &.article-img-name {
                            width: 40%;
                        }
                    }

                    tbody tr td {
                        &.name {
                            width: 20%;
                        }

                        &.amount {
                            width: calc(60% - 14rem)
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 650px) {
    main {
        .divide {
            > div {
                table#shoppinglist-items {
                    button {
                        padding: 7px;
                        font-size: 1.5rem;
                    }

                    thead tr th {
                        &.price-unit {
                            display: none;
                        }
                    }

                    tbody tr td {
                        &.price-unit {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 510px) {
    main {
        .divide {
            > div {
                table#shoppinglist-items {
                    thead {
                        display: none;
                    }

                    tbody {
                        tr {
                            padding-left: 3px;
                            border-bottom: 1px solid black;
                            font-size: 0;
                            display: block;

                            td, td.price-unit {
                                font-size: initial;
                                border: none;
                                display: inline-block;

                                &.article-img {
                                    width: 15%;
                                }

                                &.name {
                                    width: 85%;

                                    span {
                                        max-width: none;
                                    }
                                }

                                &.price-unit, &.price-total {
                                    width: 50%;
                                    text-align: left;

                                    &::before {
                                        content: attr(data-table-column-name);
                                        display: inline-block;
                                    }
                                }

                                &.amount {
                                    display: block;
                                    width: 93%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}