main {
    form {
        table {
            tbody {
                td#brand-dynamic {
                    position: relative;

                    div.data {
                        background-color: white;
                        position: absolute;
                        left: 0;
                        top: 50px;

                        div {
                            display: block;
                        }
                    }
                }

                &#categoryBodySearch {
                    tr {
                        opacity: .65;

                        &.selected {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}