main {
    font-size: 0;

    .product-name-logo {

        > div {
            display: inline-block;
        }

        .left {
            width: 75%;

            h1.product-name {
                margin: 10px 5px;
                font-size: 5rem;
            }
        }

        .right {
            width: 25%;
            text-align: right;
            padding-right: 50px;

            img {
                max-width: calc(100% - 50px);
                max-height: 5rem;
            }
        }
    }

    .product-top {
        > div {
            width: 50%;
            display: inline-block;
            vertical-align: top;
        }

        .images {

            #big-image {
                display: block;
                width: 100%;
                aspect-ratio: 16 / 9;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .images-thumbnails {
                ul {
                    margin-top: 1rem;
                    width: 100%;
                    list-style: none;

                    li {
                        margin: 1px;
                        display: inline-block;
                        border: 1px solid #b1b1b1;
                        border-radius: 5px;
                        width: 100px;
                        aspect-ratio: 16 / 9;

                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;

                        &:hover {
                            border: 2px solid #525252;
                        }

                        &.active {
                            border: 3px solid black;
                        }
                    }
                }
            }
        }

        .price-buy {
            padding: 10px 50px 0 10px;

            .price-like {
                text-align: right;

                > div {
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                    text-align: center;

                    &:nth-child(1) {
                        padding-right: 3.5rem;
                    }

                    &:nth-child(2) {
                        width: 100px;
                        text-align: right;
                    }

                    h1.price {
                        text-align: right;
                        font-size: 5rem;
                    }

                    button.like {
                        img {
                            display: none;
                            width: 50px;

                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }

            .add-to-shopping-list {
                margin-top: 10px;
                text-align: right;

                button {
                    width: 75%;
                }
            }
        }
    }

    .specifications {
        display: block;
        margin: 10rem 10% 0 10%;

        table, tbody {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
            margin: 20px 0;

            caption {
                font-size: 3rem;
            }

            tr {
                &:nth-child(2n) {
                    background-color: #d4d4d4;

                    &:hover {

                    }
                }

                td {
                    padding: 2.5px 5px;
                    font-size: 1.5rem;
                    width: 40%;

                    &:nth-child(2) {
                        width: 60%;
                    }
                }
            }
        }
    }
}