$aside-width: 350px;

main {
    font-size: 0;

    > * {
        font-size: medium;
    }

    aside,
    section {
        display: inline-block;
        min-height: calc(100vh - 66px);
        vertical-align: top;
    }

    aside {
        width: $aside-width;

        form {
            ul {
                list-style: none;
            }

            > ul {
                padding-left: 10px;

                > li {
                    display: block;
                    margin-top: 2rem;

                    fieldset {
                        border: none;

                        legend {
                            font-size: 2.25rem;
                        }

                        ul li label {
                            font-size: 1.7rem;

                            input ~ span.checkbox-custom {
                                margin: 0px 10px;
                                width: 1em;
                                height: 1em;
                            }
                        }
                    }
                }
            }
        }
    }

    section {
        width: calc(100% - #{$aside-width});
        padding: 2.5rem 2.5rem 2.5rem 0;
        @import "articles-article-block";
    }
}