form {
    margin: 10px;

    div.message {
        font-size: 2rem;
        color: #752525;
        background-color: rgb(221, 221, 221);
        text-align: justify;
        display: inline-block;
        margin: 1rem auto;
        padding: 1rem;
        border-radius: 5px;
    }

    fieldset {
        margin: 50px 10px;
        padding: 5px 0;
        border: none;

        legend {
            padding: 0 10px;
            font-size: 3rem;
        }
    }

    .required {
        &::after {
            content: "\00a0*"; //nbsp
            color: red;
        }
    }

    .none {
        display: none;
    }
}