@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 10px;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.25rem;
}

h3 {
    font-size: 2.75rem;
}

h4 {
    font-size: 2.2rem;
}

p {
    font-size: 2rem;
}

a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

input {
    outline: none;
}

input[type="search"] {
    font-size: 2rem;

    //remove X input search
    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
        display: none;
    }
}

@import 'header';