RewriteEngine on

#Verandert de URL links naar de URL rechts
#[NC] NOCASE = zorgt er voor dat men naar `article` en `ArtiClE` kan gaan
#[L] LAST = als dit wordt geëxecuteerd dan stop de htaccess file
RewriteRule ^article/([0-9]+)/([^/]+)/?$ article/index.php?id=$1&name=$2 [NC,L]
RewriteRule ^article/([0-9]+)/?$ article/index.php?id=$1 [NC,L]

# Als er een error 404 is, redirect dan naar /404.html
ErrorDocument 404 /404.html
# FORBIDDEN
ErrorDocument 403 /404.html