.user-welcome-message {
    margin: 2rem;
}

.history, .liked, .orders {
    border-top: 1px solid rgba(0, 0, 0, 0.41);
}

main section.history, main section.liked {
    display: block;
    padding: 2rem 1rem;

    h2 {
        margin-bottom: 2rem;
    }

    div.split article {
        width: 15%;
        min-width: 17.5rem;
        max-width: 30rem;
        aspect-ratio: 2 / 1;

        a {
            display: block;
            margin: 0 0 2rem 2rem;
            border-radius: 5px;
            padding: 1rem;
            height: 5rem + 2rem * 4 + 1rem * 2;

            border: 1px solid rgba(0, 0, 0, 0.41);
            text-decoration: none;

            &:hover {
                border: 1px solid rgba(0, 0, 0, 1);
            }

            img.product-name-logo {
                display: block;
                max-height: 5rem;
                max-width: 100%;
            }

            span.product-name {
                display: block;
                font-size: 2rem;
            }
        }
    }
}

main section.orders {
    .tables {
        div {
            width: 50%;
            padding: 1.5rem;

            table {
                width: 100%;
                font-size: 1.5rem;
                border-collapse: collapse;
                margin-bottom: 3rem;

                tr td, tr th {
                    border: 1px solid rgba(0, 0, 0, 0.25);
                    padding: 1rem;
                }

                thead {
                    font-size: 2rem;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    main section.orders .tables {
        div {
            display: block;

            &, table {
                width: 100%;
            }
        }
    }
}